{% extends 'base.html' %}

{% block content %}
    {% include 'snippets/search_form.html' %}
    {% if users %}
        <section class="block">
            <div class="header">
                <div class="title">Пользователи</div>
            </div>
            <div class="body">
                {% for user in users %}
                    <p>{% include 'snippets/user_mention.html' with profile=user.profile %}</p>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if posts %}
        <section class="block">
            <div class="header">
                <div class="title">Публикации</div>
            </div>
            <div class="body">
                {% include 'snippets/posts_feed.html' with posts=posts %}
            </div>
        </section>
    {% endif %}
{% endblock %}