{% load mention %}
{% load static %}
{% load humanize %}

<div id="post" data-id="{{ post.id }}">
    <p>{% include 'snippets/user_mention.html' with profile=post.author.profile %}
    </p>
    <p class="post_text">{{ post.text | escape | mention }}</p>
    <div class="post_details">
        {% if request.user in post.liked_by_users %}
            <div>
                <i class="likes_icon fi fi-sr-heart"></i>
                <b class="likes_value">{{ post.likes_count }}</b>
            </div>
        {% else %}
            <div>
                <i class="likes_icon fi fi-rr-heart"></i>
                <span class="likes_value">{{ post.likes_count }}</span>
            </div>
        {% endif %}
        <div>
            <a href="{% url 'feed.post_detail' pk=post.id %}">
                <i class="fi fi-rr-comment-alt"></i>
            </a>
            <span class="comments_value">{{ post.comments_count }}</span>
        </div>
        {% if request.user == post.author or request.user.is_superuser %}
            <div>
                <a href="{% url 'feed.delete_post' pk=post.id %}"><i class="fi fi-rr-trash"></i></a>
            </div>
        {% endif %}
        <span class="published_at">{{ post.published_at | naturaltime }}</span>
    </div>

</div>